<div class="col align-self-center">
    <h2> ¿Está usted en peligro de muerte?</h2>
    <button class="btn btn-outline-success btn-lg btn-block" onclick="peligroMuerte()" type="submit">Sí</button>
    <button class="btn btn-outline-danger btn-lg btn-block" ngClick="" type="submit">No</button>
    <!-- <select name="eps"> 
        <option *ngFor="let eps of epss; let i = index" values="index">{{eps.Nombre}}</option>
    </select> -->
</div>

<!-- lateral bar -->
<!-- <div class="col-4"> 
 <app-lateral-bar> </app-lateral-bar>
</div> -->

<!-- Mapa -->
<!-- <div class="col-8"> 
</div> -->

<!-- <label for="eps"> EPS </label>
<select name="eps"> 
    <option *ngFor="let eps of epss; let i = index" values="index">{{eps.Nombre}}</option>
</select> -->