<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h2 style="text-align: left; text-align: right; text-align: center;" > ¿Se está presentando un riesgo inminente?</h2>
            <button class="btn btn-outline-success btn-lg btn-block" onclick="peligroMuerte()" type="submit">Sí</button>
            <button class="btn btn-outline-danger btn-lg btn-block" ngClick="" type="submit">No</button>
        </div>
    </div>
</div>

<!-- lateral bar -->
<!-- <div class="col-4"> 
 <app-lateral-bar> </app-lateral-bar>
</div> -->

<!-- Mapa -->
<!-- <div class="col-8"> 
</div> -->

<!-- <label for="eps"> EPS </label>
<select name="eps"> 
    <option *ngFor="let eps of epss; let i = index" values="index">{{eps.Nombre}}</option>
</select> -->