<!-- <p>lateral-bar works!</p> -->

<div class="container">
    <h3> Información del Centro Médico </h3>
    <div class="form-group">
        <label class="font-weight-bold">Nombre:</label> Centro médico
        <br>
        <label class="font-weight-bold">Dirección:</label> Calle falsa 123
        <br>
        <label class="font-weight-bold">Teléfono:</label> 4741489
    </div>
    <h3> Estadísticas </h3>
    <label class="font-weight-bold">Tiempo de llegada:</label> 23 minutos
    <br>
    <label class="font-weight-bold">Personas en atención:</label> 23 personas
    <br>
    <label class="font-weight-bold">Calificación de usuarios:</label> <label class="text-success">  Buena</label>
    <br>
    <button class="btn btn-success btn-lg btn-block" type="button">Solicitar transporte</button>
</div>

